valid-service-token: &auth-token-01
  "3252e9fa21bedfa7c955a504eaec9a930027637ce99464796257d1e37b009ccf"
internal-server-error-token: &auth-token-02
  "58a37231-d534-4f63-b013-25b2f5d59c1a"

identities:
  - scenario: "authorized service only"
    authorization-token: *auth-token-01
    x-florence-token: ""
    identifier: "dataset-api"
    response-status: 200

  - scenario: "authorized user only"
    authorization-token: ""
    x-florence-token: "85c718c3-9ba4-4f31-99bb-3e4eaabb2cc1"
    identifier: "rickSanchez@theCitadelOfRicks.com"
    response-status: 200

  - scenario: "authorized service and authorized user"
    authorization-token: *auth-token-01
    x-florence-token: "85c718c3-9ba4-4f31-99bb-3e4eaabb2cc1"
    identifier: "rickSanchez@theCitadelOfRicks.com"
    response-status: 200

  - scenario: "no tokens"
    message: "not authenticated"
    response-status: 401

  - scenario: "authorized service but unauthorized user"
    authorization-token: *auth-token-01
    x-florence-token: "043a90de-a5b9-42b1-9af4-ad865dda1405"
    message: "not authenticated"
    response-status: 401

  - scenario: "unauthorized user"
    authorization-token: ""
    x-florence-token: "043a90de-a5b9-42b1-9af4-ad865dda1405"
    message: "not authenticated"
    response-status: 401

  - scenario: "internal server error with authorization token"
    authorization-token: *auth-token-02
    x-florence-token: ""
    message: "internal server error"
    response-status: 500

  - scenario: "internal server error with florence token"
    authorization-token: ""
    x-florence-token: "2741ac66-2d65-4112-a314-a613123f4677"
    message: "internal server error"
    response-status: 500

  - scenario: "internal server error with authization and florence token"
    authorization-token: *auth-token-02
    x-florence-token: "2741ac66-2d65-4112-a314-a613123f4677"
    message: "internal server error"
    response-status: 500

# Import services with their defult auth tokens set
  - scenario: "authorized import api and no user"
    authorization-token: "Bearer 0C30662F-6CF6-43B0-A96A-954772267FF5"
    x-florence-token: ""
    identifier: "import-api"
    response-status: 200

  - scenario: "authorized filter api and no user"
    authorization-token: "Bearer FD0108EA-825D-411C-9B1D-41EF7727F465"
    x-florence-token: ""
    identifier: "filter-api"
    response-status: 200

  - scenario: "authorized search api and no user"
    authorization-token: "Bearer a507f722-f25a-4889-9653-23a2655b925c"
    x-florence-token: ""
    identifier: "search-api"
    response-status: 200

  - scenario: "authorized dimension extractor and no user"
    authorization-token: "Bearer E45F9BFC-3854-46AE-8187-11326A4E00F4"
    x-florence-token: ""
    identifier: "dimension-extractor"
    response-status: 200

  - scenario: "authorized dimension importer and no user"
    authorization-token: "Bearer 4424A9F2-B903-40F4-85F1-240107D1AFAF"
    x-florence-token: ""
    identifier: "dimension-importer"
    response-status: 200

  - scenario: "authorized import reporter and no user"
    authorization-token: "Bearer 1D6C47C1-8F42-4F64-9AB4-6E5A16F89607"
    x-florence-token: ""
    identifier: "import-reporter"
    response-status: 200

  - scenario: "authorized import tracker and no user"
    authorization-token: "Bearer AB0A5CFA-3C55-4FA8-AACC-F98039BED0AC"
    x-florence-token: ""
    identifier: "import-tracker"
    response-status: 200

  - scenario: "authorized observation importer and no user"
    authorization-token: "Bearer AA78C45F-DD64-4631-BED9-FEAE29200620"
    x-florence-token: ""
    identifier: "observation-importer"
    response-status: 200

  - scenario: "authorized dataset exporter (csv) and no user"
    authorization-token: "Bearer 0f49d57b-c551-4d33-af1e-a442801dd851"
    x-florence-token: ""
    identifier: "dataset-exporter"
    response-status: 200

  - scenario: "authorized dataset exporter xlsx and no user"
    authorization-token: "Bearer 7049050e-5d55-440d-b461-319f8cdf6670"
    x-florence-token: ""
    identifier: "dataset-exporter-xlsx"
    response-status: 200

  - scenario: "authorized downloads service and no user"
    authorization-token: "Bearer 0dd023bd-9cc0-4c18-9b4f-e030a1f2b71c"
    x-florence-token: ""
    identifier: "download-service"
    response-status: 200

  - scenario: "authorized dataet api and no user"
    authorization-token: "Bearer c60198e9-1864-4b68-ad0b-1e858e5b46a4"
    x-florence-token: ""
    identifier: "dataset-api"
    response-status: 200

services:
  - "dataset-api"
  - "import-api"
  - "filter-api"
  - "recipe-api"
  - "search-api"
  - "codelist-api"
  - "hierarchy-api"
  - "dimension-extractor"
  - "dimension-importer"
  - "observation-importer"
  - "import-reporter"
  - "import-tracker"
  - "dataset-exporter"
  - "dataset-exporter-xlsx"
  - "downloads-service"
new-service-token: *auth-token-01
